body{
    padding: 30px;
    background-color: seagreen;
    background-image: url(coffe3.jpg);
    background-size: 40vw;
    background-repeat: no-repeat;
    margin-right: 40vw;
    background-position: right top;
    background-attachment: fixed;
    
}

.head1{
    font-size: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid brown;
    padding: 10px;
    width: 300px;
    margin: 30px;
    background-color: green;
    text-shadow: 2px 2px 5px yellow;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 5vw;

}

p{
    border: 4px solid hotpink;
    margin: 30px;
    padding: 10px;
    width: 30%;
    outline: 4px solid black;
    outline-offset: 10px;
    color: red;
    
    text-indent: 15px;
    
    

}